@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Marvin Vásquez - Developer</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bienvenidos a Abogados App</h2>
        <p>
            Abogados App es una aplicación web desarrollada con MVC, C# y .Net Core.
        </p>
    </div>
</div>